 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "YUZE";
}




<br />
<center><h4 font="Fantasy">YUZE PHOTOGRAPHY</h4></center>
<br />
<br />
<center><img id="yuze" src="img/mission2.jpg" style="width:1300px;height:900px;" /></center>
<br />
<br />
<center><p>I hope I can be proficient at ASP.NET and C# and make use of them for my visual artist career</p></center>
<br />
<br />
<br />
<center><p font="Fantasy">Top 3 jobs I want to have:</p></center>
<center>
    <ul>
        <li font="Fantasy">  1: Travel film artist</li>
        <li font="Fantasy">  2: Photographer</li>
        <li font="Fantasy">  3: Solution architect</li>

    </ul>
</center>
<br />
<br />

<br />
<br />




